@model PPCR.Models.USER
@{
    ViewBag.Title = "Decentralization Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    if (Convert.ToInt32(Session["Role"]) != 1)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!--Libraries-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/metisMenu.min.css" rel="stylesheet" />

<div id="wrapper">
    <div id="page-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            <div class="form-horizontal" style="font-family: Corbel">
                <h4 class="text-center">USER: @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--Email-->
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Password-->
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Fullname-->
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Phone-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Address-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Role-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Status-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <!--Buttons-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn btn-danger" href="javascript:void(0)" onclick="history.go(-1)">Cancel</a>
                    </div>
                </div>
            </div>
        }


        <!--Definition Parts-->
        <div class="row">
            <!--Roles table-->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" style="font-family: Kalinga">
                        Roles
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Admin</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Sale</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Agency</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <!--Status-->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" style="font-family: Kalinga">
                        Status Definition
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Value</th>
                                        <th>Status Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="info">
                                        <td>True</td>
                                        <td>Activated</td>
                                    </tr>
                                    <tr class="success">
                                        <td>Not set</td>
                                        <td>Not yet Activated</td>
                                    </tr>

                                    <tr class="warning">
                                        <td>False</td>
                                        <td>Not yet Activated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->

    </div>
</div>


<!-- jQuery -->
<script src="~/Scripts/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/Scripts/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/dataTables.responsive.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Scripts/sb-admin-2.js"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}